.dos{
    height: 180px;
    width: 180px;
   border-radius: 7px;
   margin-top: 50px;
}
.contenido{
    
    margin: 200px;
    padding: 10px;
    
}

.flex{
    display: flex;
}
.text{
    text-align: center;
    
}


.tres{
   font-size: 18px;
    text-decoration: none;
    color:royalblue;  
    font-weight: 600;

} 

